/* Theme colors */

$color-primary: #000;
$color-primary-alt: #000;

$color-text: #000;
$color-text-sec: #000000;
$color-titles: #000;


$color-bg: #fff;
$color-bg-alt: #e0e0e0;
$color-bg-dark: #262323;
$color-lines: #e0e0e0;

/* WP colors */

