/* ------------------------------------------
 04 CONTENT
------------------------------------------ */
.cgu-intro{
	padding-top:7rem;
	@media screen and (min-width: $width-md) {
		padding-top:12rem;
	}
	.cgu-intro-container{
		max-width: 1200px;
		margin:auto;
	}
	h1{
		text-align: center;
	}
}

.cgu-content{
	padding-top:2rem;
	.cgu-content-container{
		max-width: 1200px;
		margin:auto;
	}
}

.missing-page{
	min-height:calc(100vh - 200px);
	display:flex;
	flex-direction: column;
	justify-content: center;
	.missing-page-container{
		height:100%;

		max-width:1000px;
		margin:auto;
		.missing-page-title{
			text-align: center;
		}
		.missing-page-text{
			text-align: center;
		}
	}
}

/*  -----------------------------------------------------------
	Media Queries - Mobile phones (> 480px)
------------------------------------------------------------ */

@media screen and (min-width: $width-xs) {
}

/*  -----------------------------------------------------------
	Media Queries - Small desktop & vertical tablets (> 768px)
------------------------------------------------------------ */

@media screen and (min-width: $width-sm) {
}
/*  -----------------------------------------------------------
	Media Queries - Desktop > 1024px
------------------------------------------------------------ */

@media screen and (min-width: $width-md) {
}

/*  -----------------------------------------------------------
	Media Queries - Desktop > 1264px
------------------------------------------------------------ */

@media screen and (min-width: $width-lg) {
}

/*  -----------------------------------------------------------
	Media Queries - Desktop > 1440px
------------------------------------------------------------ */

@media screen and (min-width: $width-xl) {
}

/* IE */

@media screen and (min-width: $width-xs) and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
}
